footer {
    @extend header;
    margin-top: 5rem;

    .caja-footer {
        @include flex(row, center, center);
        background-color: map-get($map: $colors, $key: morado);
        height: 15vh;
        border-radius: 10px;
        width: 80%;

        img {
            height: 20vh;
        }

        .redes {
            margin: 0 10px;
            font-size: 3vh;

            a {
                color: map-get($map: $colors, $key: blanco)
            }
        }

        p {
            margin: 0 30px;
        }
    }
}

@media screen and (max-width: 768px){
    .caja-footer{
        width:100% !important;
        height: 10vh;
        .logo2{
            height: 15vh;
        }
    }
}
