header {
    @include flex(row, center, center);
    width: 100%;

    .logo-header {
        height: 10rem;
        margin: 0 30px;
    }

    .navbar{
        background-color: map-get($map: $colors, $key: morado);
        border-radius: 10px;

        button{
            border-color: white;
        }
        .navbar-toggler-icon {
            filter: invert(1); 
        }

        a{
            color:white;
        }
    }
}

