header {
    @include flex(row, center, center);
    width: 100%;

    .logo-header {
        height: 10rem;
        margin: 0 30px;
    }

    .navbar{
        background-color: map-get($map: $colors, $key: morado);
    }
}

