.caja-portafolio {
    width: 80%;
    .imgs-portafolio {
        display: flex;
                justify-content: center;
        align-items: center;
    }

    .titulo {
        font-weight: 600;
        letter-spacing: 0.3vh;
        font-style: italic;
    }
}

@media screen and (max-width: 768px) {
    .caja-portafolio {
        width: 70%;

        .imgs-portafolio {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}