.caja-imgs {
    height: 300px;
    width: 300px;
    padding: 10px;
    margin-bottom: 1vh;
}

.imgs {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.caja-sobreMi {
    @include flex(column, center, center);

    .intereses-box {
        @include flex(column, center, center);

        .intereses {
            @include flex(column, center, center);
            width: 200px;
        }
    }

    .intereses {
        display: flex;
        flex-direction: column;
        width: 200px;
        justify-content: center;
        align-items: center;
    }

    .tarjeta{
        background-color: map-get($map: $colors, $key: morado2);
        color: map-get($map: $colors, $key: blanco );
    }

}

.button-home {
    padding-top: 5vh;
    @include flex(column, center, center);
}