body {
  background-color: black;
  font-family: "Montserrat", serif;
  color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header, footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
header .logo-header, footer .logo-header {
  height: 10rem;
  margin: 0 30px;
}
header .navbar, footer .navbar {
  background-color: #622688;
  border-radius: 10px;
}
header .navbar button, footer .navbar button {
  border-color: white;
}
header .navbar .navbar-toggler-icon, footer .navbar .navbar-toggler-icon {
  filter: invert(1);
}
header .navbar a, footer .navbar a {
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .frase-home {
  font-style: italic;
  letter-spacing: 0.5vh;
  font-weight: 500;
  margin: -5px 10px 30px;
}
main .introduccion {
  width: 50%;
  display: flex;
  flex-direction: row;
}
main .introduccion img {
  height: 300px;
  border-radius: 10px;
  margin: 10px;
}
main .introduccion .texto-intro {
  width: 60%;
  padding: 20px;
  text-align: justify;
}

@media (max-width: 768px) {
  .caja-frase {
    width: 70%;
  }
  .caja-frase p {
    text-align: center;
    margin-top: 15px;
  }
  main .introduccion {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  main .introduccion img {
    height: 100%;
  }
  main .invitacion-home {
    width: 50%;
    display: flex;
    text-align: center;
    margin-left: 20vh;
  }
}
.caja-imgs {
  height: 300px;
  width: 300px;
  padding: 10px;
  margin-bottom: 1vh;
}

.imgs {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.caja-sobreMi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.caja-sobreMi .intereses-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.caja-sobreMi .intereses-box .intereses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
}
.caja-sobreMi .intereses {
  display: flex;
  flex-direction: column;
  width: 200px;
  justify-content: center;
  align-items: center;
}
.caja-sobreMi .tarjeta {
  background-color: #5c2480;
  color: white;
}

.button-home {
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.experiencia div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  text-align: justify;
  font-size: large;
}
.experiencia div .experiencia-titulo {
  font-weight: 600;
  letter-spacing: 0.3vh;
  font-style: italic;
}

.card-body {
  background-color: #622688;
  color: white;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #622688;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
form h2 {
  font-weight: 600;
  letter-spacing: 0.3vh;
  font-style: italic;
  text-align: center;
}
form label {
  font-size: 15px;
}
form input {
  padding: 8px;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: black;
  width: 80%;
}
form .button {
  margin-top: 10px;
  background-color: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
  width: 50%;
}

footer {
  margin-top: 5rem;
}
footer .caja-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #622688;
  height: 15vh;
  border-radius: 10px;
  width: 80%;
}
footer .caja-footer img {
  height: 20vh;
}
footer .caja-footer .redes {
  margin: 0 10px;
  font-size: 3vh;
}
footer .caja-footer .redes a {
  color: white;
}
footer .caja-footer p {
  margin: 0 30px;
}

@media screen and (max-width: 768px) {
  .caja-footer {
    width: 100% !important;
    height: 10vh;
  }
  .caja-footer .logo2 {
    height: 15vh;
  }
}
.button {
  background-color: #622688;
  color: white; /* Texto blanco */
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  transition: background-color 0.3s, transform 0.2s;
}
.button:hover {
  background-color: #5c2480;
  transform: scale(1.1);
}

/*# sourceMappingURL=style.css.map */
